table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
  border: 1px solid black;
}

#mod-commands {
  vertical-align: top;
}  

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
