div {
  width 75%;
  background-image: url("/images/dark-bg.jpg");
}

tr:nth-child(even) {
  background-color: #dddddd;
}

tr:nth-child(odd) {
  background-color: white;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 50%;
}  

.wrapper {
  margin-left:auto;
  margin-right:auto;
  background: transparent;
}

.user-commands td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.mod-commands td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

.sub-commands td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

h1 {
  text-align: center;
}
